.agent
.git
.gitignore
.venv
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.db
*.sqlite*

ADSMOD/client/node_modules
ADSMOD/client/dist
ADSMOD/client/dist-ssr
ADSMOD/resources/runtimes
ADSMOD/resources/logs
ADSMOD/resources/checkpoints
ADSMOD/resources/database
tests/__pycache__
